# PHP
alias phpunit="vendor/bin/phpunit"`
alias larastan="vendor/bin/phpstan analyse"
alias sail="./vendor/bin/sail"

# Composer
alias cr="composer"
alias cru="composer update"
alias cri="composer install"
alias crdpa="composer dumpautoload"

# Artisan
alias art="php artisan"
alias artt="php artisan test"
alias artm="php artisan migrate"
alias artms="php artisan migrate:fresh --seed"
alias pp="php artisan test --parallel"`

# Misc
alias shrug="echo '¯\_(ツ)_/¯' | xclip -selection clipboard"
alias c="clear"
alias ..="cd .."
alias copyssh="xclip -selection clipboard < $HOME/.ssh/id_ed25519.pub"
alias reloadshell="source $HOME/.zshrc"

# Shortcuts
alias dl="cd ~/Downloads"
alias projects="cd $HOME/Projects"

# JavaScript
alias jest="./node_modules/bin/.jest"
alias ys="yarn start"
alias ya="yarn add"
alias yag"yarn global add"
alias yaw="yarn run watch"

alias nah="git reset --hard;git clean -df"
# List files
alias l="ls -laF"
