# Switch PHP versions

phpv() {
    sudo update-alternatives --set php /usr/bin/php$1;
    composer global update
    source ~/.zshrc
}

gitRepo() {
    echo 'Configure an individual repo to use a specific user and email (overrides global)'
    read gitUsername"?Enter your username: "
    git config user.name "$gitUsername"
    read gitEmail"?Enter your email: "
    git config user.email "$gitEmail"
}

alias php56="phpv 5.6"
alias php71="phpv 7.1"
alias php72="phpv 7.2"
alias php73="phpv 7.3"
alias php74="phpv 7.4"

# Create a new directory and enter it
function mkd() {
   mkdir -p "$@" && cd "$@"
}

# Commit everything
function commit() {
  commitMessage="$1"

  if [ "$commitMessage" = "" ]; then
     commitMessage="wip"
  fi

  git add .
  eval "git commit -a -m '${commitMessage}'"
}
